# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dev studio temporaries
*.ncb
*.suo
*.user

# Intermmediate build directories
Build/
Cornucopia/
ProjectFiles/Debug/