# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Blah
*.pdf
*.sbr
*.opt
*.ncb
Debug/
Release/
*.dsp
.vs/
*.user
*.suo
*.sdf
*.plg
*.VC.db
*.log
*.aux
*.dvi
*.embed.*
*.manifest
*.ilk
*.aps
*.db