# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Intermediates and built files
Build/

# Dev-Studio stuff
*.ncb
*.suo
*.tss
*.user

# Latex intermediates
*.gz
*.log
*.aux